ACTION=="add", DRIVERS=="playstation", ATTRS{name}=="*Wireless Controller", TAG+="systemd", ENV{SYSTEMD_WANTS}="bazzite-bluetooth-ds4-ds5-workaround@$attr{uniq}.service"