#  SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Forward Password Requests to unl0kr
DefaultDependencies=no
After=plymouth-start.service systemd-vconsole-setup.service
Conflicts=emergency.service
Before=emergency.service
Conflicts=shutdown.target initrd-switch-root.target
Before=shutdown.target initrd-switch-root.target

[Service]
ExecStart=unl0kr-ask-password
SystemCallArchitectures=native
