[Unit]
Description=distrobox-upgrade Automatic Update
 
[Service]
Type=simple
ExecStart=/usr/bin/distrobox-upgrade --all
ExecStartPost=/usr/bin/distrobox-enter -n bazzite-arch -- '  paru -Syu --noconfirm'
StandardOutput=null
