[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=/usr/share/ublue-os/docs/serve.sh
Icon=/usr/share/ublue-os/bazzite/docs.svg
Name=Documentation
Name[cs]=Dokumentace
Name[el]=Τεκμηρίωση
Name[ru]=Документация
Comment=View Bazzite Documentation
Comment[cs]=Zobrazit dokumentaci k Bazzite
Comment[fr]=Voir la documentation de Bazzite
Comment[el]=Προβολή τεκμηρίωσης Bazzite
Comment[ru]=Посмотреть документацию Bazzite
Categories=Utility;
