[Desktop Entry]
Name=Steam Big Picture Mode
Name[cs]=Režim Steam Big Picture
Name[fr]=Mode Big Picture
Exec=/usr/bin/bazzite-steam-bpm %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
