[Desktop Entry]
Type=Application
Name=Bazzite Rebase Helper
Comment=Manage rollbacks and rebase between Bazzite images
Icon=/usr/share/ublue-os/bazzite/icon.svg
Categories=System;Utility;
Terminal=true
Exec=/usr/bin/bazzite-rollback-helper
