[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://universal-blue.discourse.group/c/bazzite/
Icon=/usr/share/ublue-os/bazzite/discourse.svg
Name=Discourse
Comment=Universal Blue Forums
Comment[cs]=Fórum Universal Blue
Comment[fr]=Forums d'Universal Blue
Comment[el]=Φόρουμ Universal Blue
Comment[ru]=Форумы Universal Blue
Categories=Utility;
