[Desktop Entry]
Type=Application
Name=System Update
Comment=Update Bazzite, Flatpaks, and more
Icon=/usr/share/ublue-os/bazzite/update.svg
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/ujust update
