[Desktop Entry]
Type=Application
Name=System Update
Name[cs]=Aktualizace systému
Name[fr]=Mises à jour
Name[el]=Ενημέρωση συστήματος
Name[ru]=Обновление системы
Comment=Update Bazzite, Flatpaks, and more
Comment[cs]=Aktualizace Bazzite, Flatpaků a dalších
Comment[fr]=Met à jour Bazzite, les applications et plus encore
Comment[el]=Ενημερώνει το Bazzite, τα Flatpaks και άλλα
Comment[ru]=Обновить Bazzite, Flatpak и многое другое
Icon=/usr/share/ublue-os/bazzite/update.svg
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/ujust update
