[Desktop Entry]
Type=Application
Name=Force Restart Waydroid
Name[cs]=Vynucený restart Waydroidu
Name[fr]=Forcer le redémarrage de Waydroid
Name[ru]=Принудительно перезапустить Waydroid
Exec=pkexec /usr/libexec/waydroid-container-restart
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Icon=waydroid
NoDisplay=false
