[Desktop Entry]
Type=Application
Name=Bazzite Portal
Comment=First-run utility for configuring helpful additions to Bazzite
Icon=/usr/share/ublue-os/bazzite/logo.svg
Categories=Utility;
Exec=/usr/bin/yafti --force
