[Unit]
Description=OpenTabletDriver Daemon
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=|WAYLAND_DISPLAY
ConditionEnvironment=|DISPLAY

[Service]
ExecStart=/usr/bin/distrobox-enter -n arch -- /usr/bin/otd-daemon
Restart=always
RestartSec=3

[Install]
WantedBy=graphical-session.target
