[Unit]
Description=Enables Bazzite autologin
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/bazzite-autologin

[Install]
WantedBy=multi-user.target
