[Unit]
Description=Enables autologin to desktop
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/desktop-autologin

[Install]
WantedBy=multi-user.target
