[Unit]
Description=Workaround pipewire needing to be written into by steamdeck-dsp
ConditionPathExists=/usr/share/pipewire
After=local-fs.target

[Service]
Type=oneshot
# Copy if it doesn't exist
ExecStartPre=/usr/bin/bash -c "[ -d /usr/local/share/.pipewire ] || /usr/bin/cp -r /usr/share/pipewire /usr/local/share/.pipewire"
ExecStart=/usr/bin/mount --bind /usr/local/share/.pipewire /usr/share/pipewire
# Clean-up after ourselves
ExecStop=/usr/bin/umount /usr/share/pipewire
ExecStop=/usr/bin/rm -r /usr/local/share/.pipewire
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
