[Unit]
Description=Steam Patch Loader for user %i
Wants=network.target
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/steam-patch --user=%i

[Install]
WantedBy=multi-user.target