[Unit]
Description=Steam Patch Loader for user %i
Wants=network.target
After=network.target
ConditionPathExists=/var/home/%i/.local/share/Steam/

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStartPre=touch "/var/home/%i/.local/share/Steam/.cef-enable-remote-debugging"
ExecStart=/usr/bin/steam-patch --user=%i

[Install]
WantedBy=multi-user.target
