[Unit]
Description=Steam Patch Loader for user %i
Wants=network.target
After=network.target

[Path]
PathExists=/var/home/%i/.steam/steam/

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStartPre=touch "/var/home/%i/.steam/steam/.cef-enable-remote-debugging"
ExecStart=/usr/bin/steam-patch --user=%i

[Install]
WantedBy=multi-user.target
