[Unit]
Description="Portforward CEF remote debug port"

[Service]
ExecStart=socat TCP4-LISTEN:8081,fork TCP4:127.0.0.1:8080
User=deck
Restart=always

[Install]
WantedBy=multi-user.target
