[Unit]
Description=Force Universal Blue Update Oneshot Service

[Service]
Type=oneshot
Environment="TOPGRADE_SKIP_BRKC_NOTIFY=true"
ExecStart=/usr/bin/ublue-update --force
RemainAfterExit=no
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
OOMScoreAdjust=1000
CPUWeight=30
CPUQuota=300%
IOWeight=30
