[Unit]
Description=Resilio Sync per-user service
After=network.target
 
[Service]
Type=simple
ExecStart=/usr/bin/distrobox-enter -n fedora -- /usr/bin/rslsync --nodaemon

[Install]
WantedBy=default.target
