polkit.addRule(function(action, subject) {
	if ((action.id == "org.freedesktop.timedate1.set-time" ||
	     action.id == "org.freedesktop.timedate1.set-timezone" ||
	     action.id == "org.freedesktop.login1.power-off" ||
	     action.id == "org.freedesktop.login1.reboot") &&
	     subject.isInGroup("wheel")) {
		return polkit.Result.YES;
	}
});