# Originally from https://serverfault.com/a/767079
# Mount drives labeled "steamgames" to support FrameworkComputer's steam-drive-mounter
# https://github.com/FrameworkComputer/steam-drive-mounter

KERNEL!="sd*",                  GOTO="steamos_automount_end"
ENV{ID_FS_USAGE}!="filesystem", GOTO="steamos_automount_end"
ENV{ID_FS_LABEL}!="steamgames", GOTO="steamos_automount_end"

# The service expects to be asynchronous and shouldn't block udev rules
ACTION=="add",    RUN+="/usr/bin/systemd-run --no-block --collect /usr/libexec/hwsupport/block-device-event.sh add %k"
ACTION=="remove", RUN+="/usr/bin/systemd-run --no-block --collect /usr/libexec/hwsupport/block-device-event.sh remove %k"

LABEL="steamos_automount_end"
