polkit.addRule(function(action, subject) {
    if ((action.id == "org.bazzite.policykit.uupd.update") &&
         subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
