polkit.addRule(function(action, subject) {
    if ((action.id == "org.bazzite.policykit.waydroid.container.start" || 
         action.id == "org.bazzite.policykit.waydroid.container.stop") &&
         subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});