<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.chimeraos.steamvr.pkexec">
    <message>Authentication is required to change steamvr compositor capabilities</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/setcap</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">CAP_SYS_NICE=eip</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">/home/gamer/.local/share/Steam/steamapps/common/SteamVR/bin/linux64/vrcompositor-launcher</annotate>
  </action>
</policyconfig>
