[Unit]
Description=Enables autologin to Plasma (X11)
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/bin/plasma-autologin

[Install]
WantedBy=multi-user.target
