[Desktop Entry]
Type=Application
Name=Bazzite Portal Setup
GenericName=Bazzite Setup Portal
Comment=Bazzite Configuration and First Boot Setup
Exec=/usr/libexec/bazzite-yafti-launcher
Icon=system-software-install
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-phase=2