[Desktop Entry]
Type=Application
Name=Nested Desktop
Exec=steamos-nested-desktop
Categories=Desktop;

# Regular icon/logo. Any size, 1:1.
Icon=/usr/share/applications/steam/steamos-nested-desktop/icon.svg
# 600x900px Capsule Art
X-Steam-Library-Capsule=/usr/share/applications/steam/steamos-nested-desktop/capsule.png
# 3840x1240 Hero Art Background
X-Steam-Library-Hero=/usr/share/applications/steam/steamos-nested-desktop/hero.png
# 1280x720 Logo
X-Steam-Library-Logo=/usr/share/applications/steam/steamos-nested-desktop/logo.png
# 1280x720 Store Logo (Horizontal Capsule)
X-Steam-Library-StoreCapsule=/usr/share/applications/steam/steamos-nested-desktop/store-logo.png

# What controller preset to use.
X-Steam-Controller-Template=Desktop
