[Unit]
Description=NTFS/exFAT Monitor notification service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/libexec/ntfs-exfat-monitor-script

[Install]
WantedBy=graphical-session.target
