[Unit]
Description=NTFS/exFAT Monitor notification service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/libexec/ntfs_exfat_monitor_script

[Install]
WantedBy=graphical-session.target
