/*
  Extremely trimmed down version of https://github.com/MrCompoopter/Libadwaita-Breeze-Dark
  Modifies only the window shape, and otherwise makes no other changes.
  This should ensure compatibility with most if not all themes and applications.
*/

window {
  border-radius: 4px 4px 0 0;
  border-width: 0px;
  margin: 0px;
}

window.maximized {
  border-radius: 0;
}

.maximized window,
.fullscreen window,
.tiled window {
  border-radius: 0;
}

.popup window {
  border-radius: 4px;
}

.csd window {
  border-radius: 4px;
}

.solid-csd window {
  border-radius: 0;
  margin: 0;
  border-width: 5px;
}
