<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Bazzite</vendor>
  <vendor_url>https://github.com/ublue-os/bazzite/</vendor_url>

  <action id="org.bazzite.enable.hhd.pkexec">
    <description>Handheld Daemon is a project that aims to provide utilities for managing handheld devices</description>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bazzite-enable-hhd</annotate>
  </action>

  <action id="org.bazzite.hhd.steamos.pkexec">
    <description>Handheld Daemon is a project that aims to provide utilities for managing handheld devices</description>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/hhd.steamos</annotate>
  </action>

</policyconfig>
