[Desktop Entry]
Type=Application
Icon=tools-wizard-symbolic
Name=Bazzite Bootloader Restoring Tool BETA
Name[sv]=Bazzites verktyg för återställning av starthanteraren (beta)
Name[uk]=Відновлювач завантажувача Bazzite (у розробці)
Comment=Restore the bootloader of an installation if has been overriden by Windows
Comment[sv]=Återställ en installations starthanterare om den har skrivits över av Windows
Comment[uk]=Відновити завантажувач, що був перезаписаний Windows
Keywords=bootloader;fix;grub;windows
Keywords[sv]=starthanterare;återställ;grub;windows
Keywords[uk]=bootloader;fix;grub;windows;завантажувач;полагодити;
Categories=System;Utility
Exec=/usr/bin/bootloader_restore
Hidden=false
NoDisplay=false
StartupNotify=true
Terminal=false
