[Unit]
Description=CPU Curve Undervolt for Steam Deck

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/%p
ExecStart=/usr/sbin/ryzenadj --set-coall={UNDERVOLT_AMOUNT}

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target ac.target battery.target
