<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>VPNetwork LLC, TorGuard</vendor>
  <vendor_url>http://www.torguard.com/</vendor_url>

  <action id="com.torguard.pkexec.torguard">
    <description>Run TorGuard</description>
    <message>Authentication is required to run TorGuard</message>
    <icon_name>torguard</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/torguard/bin/torguard</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
