# Set AMDGPU power profile to 3d_FULL_SCREEN. Seems to solve low performance issues with some 6000 series devices.
# See https://wiki.archlinux.org/title/AMDGPU#Power_profiles and https://gitlab.freedesktop.org/drm/amd/-/issues/1500#note_1863440
KERNEL=="card[0-9]", SUBSYSTEM=="drm", DRIVERS=="amdgpu", ATTR{device/power_dpm_force_performance_level}="manual", ATTR{device/pp_power_profile_mode}="1"
