[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
StartupNotify=true
Exec=/usr/bin/kde-ptyxis -s -T "Bold Brew" -- /usr/bin/bbrew-helper
Icon=/usr/share/ublue-os/bbrew.png
Name=Bold Brew
Comment=The modern Terminal UI for managing Homebrew packages and casks
Comment[el]=Το σύγχρονο περιβάλλον τερματικού για τη διαχείριση πακέτων και βαρελιών Homebrew
Comment[ru]=Современная консольная утилита для управления пакетами и cask Homebrew
Categories=Utility;
