site_name: Bazzite Documentation
site_author: nicknamenamenick
site_url: !ENV MKDOCS_SITE_URL
repo_url: !ENV MKDOCS_REPO_URL
repo_name: !ENV GITHUB_REPOSITORY
site_description: Bazzite is a custom image built upon Fedora Atomic Desktops that brings the best of Linux gaming to all of your devices - including your favorite handheld.

validation:
  links:
    not_found: warn
    absolute_links: relative_to_docs
    anchors: warn
    unrecognized_links: warn

extra_css:
  - stylesheets/image_sizing.css
  - stylesheets/bazzite.css
theme:
  name: material
  custom_dir: theme_overrides
  palette:
    - media: "(prefers-color-scheme)"
      primary: deep purple
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  favicon: static/favicon.svg
  logo: static/favicon.svg
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    # - navigation.instant # Incompatible with mkdocs_static_i18n
    - toc.integrate
    - search.suggest
    - search.highlight

docs_dir: src
site_dir: book

hooks:
  - hooks/cmdrun.py # 100-99
  - hooks/embed_youtube.py # 80
  - hooks/md_image_sizing.py

plugins:
  - privacy
  - i18n:
      languages:
        - locale: en
          default: true
          name: English
          build: true

  - search
  - git-revision-date-localized:
      enable_creation_date: !ENV [CI, false]
      fallback_to_build_date: true
  - git-committers:
      enabled: !ENV [CI, false]
      token: !ENV ["GH_TOKEN"]
      repository: !ENV GITHUB_REPOSITORY
      branch: !ENV GITHUB_REF_NAME
  - social

markdown_extensions:
  - attr_list
  - md_in_html
  - nl2br
  - mdx_truly_sane_lists
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.magiclink

nav:
  - index.md
  - General:
      - "Bazzite's README": "Bazzite_README.md"
      - "FAQ": "General/FAQ.md"
      - "Installation Guide":
          - General/Installation_Guide/index.md
          - "Installing Bazzite for Desktop/Laptop Hardware": General/Installation_Guide/Installing_Bazzite_for_Desktop_or_Laptop_Hardware.md
          - "Installing Bazzite for Framework Laptop 16": General/Installation_Guide/Installing_Bazzite_for_Framework_Laptop_16.md
          - "Installing Bazzite for Framework Laptop 13 (AMD/Intel GPU)": General/Installation_Guide/Installing_Bazzite_Framework_Laptop_13.md
          - "Installing Bazzite for Home Theater PC (HTPC) Setups": General/Installation_Guide/Installing_Bazzite_for_HTPC_Setups.md
          - "Installing Bazzite on the Steam Deck": General/Installation_Guide/Installing_Bazzite_for_Steam_Deck.md
          - "Installing Bazzite on Handheld PCs": General/Installation_Guide/Installing_Bazzite_for_Handheld_PCs.md
          - "Installation Troubleshoot Guide": General/Installation_Guide/troubleshoot_guide.md
          - "Secure Boot Instructions": General/Installation_Guide/secure_boot.md
          - "Dual Boot Preliminary Setup and Post-Setup Guide": General/Installation_Guide/dual_boot_setup_guide.md
      - "Gaming":
          - Gaming/index.md
          - "Game Launchers": Gaming/Game_Launchers.md
          - "Managing & Modding Games": Gaming/Managing_and_modding_games.md
          - "Common Gaming Issues": Gaming/Common_gaming_issues.md
          - "Hardware Compatibility for Gaming": Gaming/Hardware_compatibility_for_gaming.md
      - "Desktop Environment Tweaks": General/Desktop_Environment_Tweaks.md
      - "Reporting Bugs": General/reporting_bugs.md
  - Handheld & HTPC Hardware:
      - "Steam Gaming Mode": Handheld_and_HTPC_edition/Steam_Gaming_Mode.md
      - "Handheld Wiki":
          - Handheld_and_HTPC_edition/Handheld_Wiki/index.md
          - "Steam Deck": Handheld_and_HTPC_edition/Handheld_Wiki/Steam_Deck.md
          - "Lenovo Legion Go": Handheld_and_HTPC_edition/Handheld_Wiki/Lenovo_Legion_Go.md
          - "ASUS ROG Ally": Handheld_and_HTPC_edition/Handheld_Wiki/ASUS_ROG_Ally.md
          - "Ayn Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/Ayn_Handhelds.md
          - "GPD Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/GPD_Handhelds.md
          - "Ayaneo Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/Ayaneo_Handhelds.md
          - "Other Handhelds": Handheld_and_HTPC_edition/Handheld_Wiki/Other_Handhelds.md
  - Software:
      - "Installing and Managing Software":
          - Installing_and_Managing_Software/index.md
          - "Flatpak": Installing_and_Managing_Software/Flatpak.md
          - "ujust": Installing_and_Managing_Software/ujust.md
          - "Homebrew": Installing_and_Managing_Software/Homebrew.md
          - "Distrobox": Installing_and_Managing_Software/Distrobox.md
          - "Appimage": Installing_and_Managing_Software/AppImage.md
          - "rpm-ostree": Installing_and_Managing_Software/rpm-ostree.md
      - "Updates, Rollbacks, & Rebasing":
          - "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/index.md"
          - "Updating Guide": "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/updating_guide.md"
          - "Rolling Back System Updates": "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/rolling_back_system_updates.md"
          - "Rebase Guide": "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/rebase_guide.md"
          - "Bazzite Rollback Helper": "Installing_and_Managing_Software/Updates_Rollbacks_and_Rebasing/bazzite_rollback_helper.md"
      - "Waydroid Setup Guide": Installing_and_Managing_Software/Waydroid_Setup_Guide.md
  - Advanced:
      - "Reset Forgotten User Password": Advanced/Reset_Forgotten_User_Password.md
      - "Creating A Custom Bazzite Image": Advanced/creating_custom_image.md
      - "Contributing to Bazzite": General/Contributing_to_Bazzite.md
