[Unit]
Description=Configure Bazzite for current user
ConditionUser=!@system

[Service]
Type=simple
ExecStart=/usr/libexec/bazzite-user-setup

[Install]
WantedBy=default.target
