[Unit]
Description=Configure Bazzite for current user
Requires=xdg-desktop-autostart.target

[Service]
Type=simple
ExecStart=/usr/bin/bazzite-user-setup

[Install]
WantedBy=default.target
