[Unit]
Description=NTFS/exFAT Monitor notification service
PartOf=xdg-desktop-autostart.target
After=xdg-desktop-autostart.target

[Service]
Type=simple
ExecStart=/usr/libexec/ntfs_exfat_monitor_script

[Install]
WantedBy=xdg-desktop-autostart.target
