[Unit]
Description=NTFS/exFAT Monitor notification service

[Service]
Type=simple
ExecStart=/usr/libexec/ntfs_exfat_monitor_script

[Install]
WantedBy=default.target
