[Unit]
Description=Reset bluetooth controller before sleep
Before=sleep.target
StopWhenUnneeded=yes
RefuseManualStart=yes

[Service]
Type=oneshot
ExecCondition=/usr/bin/systemctl is-enabled bluetooth.service
ExecStart=/usr/libexec/bazzite-bluetooth-sleep-workaround
TimeoutSec=10s

[Install]
WantedBy=sleep.target