[Unit]
Description=Configure Bazzite for current hardware
After=rpm-ostreed.service
Before=systemd-user-sessions.service jupiter-biosupdate.service jupiter-controller-update.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/bazzite-hardware-setup

[Install]
WantedBy=multi-user.target
