[Unit]
Description=Disconnect DS4 and DS5 controller on shortcut HOME + triangle
After=bluetooth.target
Requires=bluetooth.target
ConditionFileIsExecutable=/usr/libexec/bazzite-bluetooth-ds4-ds5-workaround

[Service]
User=root
Type=simple
CPUQuota=25%
ExecStart=/usr/libexec/bazzite-bluetooth-ds4-ds5-workaround %I
Restart=on-failure
RestartSec=5
