[Unit]
Description=Enable libvirtd service after reboot
After=local-fs.target
ConditionPathExists=/usr/lib/systemd/system/libvirtd.service

[Service]
Type=oneshot
# See https://github.com/ublue-os/bazzite/issues/4086#issue-3904621119
# We dont need to enable modular services manually, these seem to come preenabled when installing qemu and libvirt.
ExecStart=/usr/bin/bash -c "systemctl disable --now libvirtd.service; systemctl disable --now libvirtd{,-ro,-admin,-tcp,-tls}.socket"
