[Unit]
Description=Handle IWD migration
Before=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/bazzite-iwd-migration
ExecStartPost=/usr/bin/touch /var/lib/bazzite-iwd-migration.done

[Install]
WantedBy=multi-user.target
