[Unit]
Description=Timer for brew update for mutable brew
Wants=network-online.target

[Timer]
OnBootSec=10min
OnUnitInactiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
