[Unit]
Description=Make sure brew is in correct location...
After=local-fs.target
ConditionPathExists=!/etc/.linuxbrew.check

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "if [[ -d /var/home/linuxbrew/Homebrew && ! -d /var/home/linuxbrew/.linuxbrew/Homebrew ]]; then mv /var/home/linuxbrew /tmp/linuxbrew.tmp && mkdir -p /var/home/linuxbrew/ && mv /tmp/linuxbrew.tmp /var/home/linuxbrew/.linuxbrew; fi"
ExecStart=/usr/bin/touch /etc/.linuxbrew.check

[Install]
WantedBy=default.target multi-user.target