[Unit]
Description=Weekly Btrfs deduplication on %f

[Timer]
OnCalendar=weekly
AccuracySec=1h
RandomizedDelaySec=2d
Persistent=true

[Install]
WantedBy=timers.target
