[Unit]
Description=Btrfs deduplication on %f

[Service]
EnvironmentFile=-/etc/conf.d/btrfs-dedup
ExecStart=/usr/bin/btrfs-dedup %f
ExecReload=/usr/bin/btrfs-dedup --powerchange
PIDFile=/run/btrfs-dedup/%i.pid
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
OOMScoreAdjust=1000
CPUWeight=30
CPUQuota=100%
IOWeight=30
