[Unit]
Description=Btrfs deduplication on %f

[Service]
EnvironmentFile=-/etc/conf.d/btrfs-dedup
ExecStart=/usr/bin/btrfs-dedup %f
ExecReload=/usr/bin/btrfs-dedup --powerchange
PIDFile=/run/btrfs-dedup/%i.pid
MemoryAccounting=yes
MemoryHigh=1G
MemoryMax=2G
MemorySwapMax=500M
CPUAccounting=true
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
OOMScoreAdjust=1000
CPUWeight=30
CPUQuota=50%
IOWeight=30
