[Unit]
Description=Run CEC actions for sleep
DefaultDependencies=no
Before=final.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/cec-control onsleep

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
