[Unit]
Description=Run CEC actions for poweroff
DefaultDependencies=no
Before=systemd-poweroff.service poweroff.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/cec-control onpoweroff

[Install]
WantedBy=poweroff.target
