[Unit]
Description=Cleanup Homebrew workdir
After=var.mount
Before=var-home-linuxbrew.mount
ConditionPathIsDirectory=%C/homebrew

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/rm -rf %C/homebrew/.*
ExecStart=-/usr/bin/rm -rf %C/homebrew/*
ExecStop=-/usr/bin/rm -rf %C/homebrew/.*
ExecStop=-/usr/bin/rm -rf %C/homebrew/*

[Install]
WantedBy=default.target multi-user.target
