[Unit]
Description=Set custom polling rates for specific devices

[Service]
Type=simple
ExecStart=/usr/libexec/custom-device-pollrates

[Install]
WantedBy=multi-user.target

