[Unit]
Description=Workaround for Gigabyte BIOS sleep/wakeup bug
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'if grep "GPP0" /proc/acpi/wakeup | grep -q "enabled"; then echo "GPP0" > /proc/acpi/wakeup; fi'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
