name: Sign Image

# A workflow to sign an image on demand

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Image to sign, including the tag'
        required: true

jobs:
  sign:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get digest
        id: get-digest
        env:
          IMAGE_TO_SIGN: ${{ inputs.image }}
        run: |
          digest=$(skopeo inspect docker://$IMAGE_TO_SIGN --format '{{.Digest}}')
          name=$(skopeo inspect docker://$IMAGE_TO_SIGN --format '{{.Name}}')
          echo "DIGEST=$digest" >> $GITHUB_OUTPUT
          echo "NAME=$name" >> $GITHUB_OUTPUT

      - name: Setup Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: 'v2.6.1'

      - name: Sign Image
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_SECRET }}
          IMAGE_NAME: ${{ steps.get-digest.outputs.NAME }}
          IMAGE_DIGEST: ${{ steps.get-digest.outputs.DIGEST }}
        run: |
          cosign sign -y --key env://SIGNING_KEY --new-bundle-format=false $IMAGE_NAME@$IMAGE_DIGEST
