/* SPDX-License-Identifier: LGPL-2.1-or-later */
#badge {
    inline-size: 225px;
    block-size: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.anaconda {
    /* Brand palette */
    --brand-default-light: #0047ab;
    --brand-default: #8a2be2;
    --brand-default-dark: #0047ab;

    .logo {
        background-image: url("logo.png");
        filter: unset;
    }

    .pf-v6-c-form__section:has(#anaconda-screen-accounts-root-account-enable-root-account) {
        /* Hide the whole section with "Enable root account". Might be not as reliable as it seems to be */
        display: none;
    }
}
